<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Spreadit Demo</title>
  </head>
  <body ng-controller="AppController as vm" class="ng-cloak">

    <header>
        <si-importer si-id="free"></si-importer>
    </header>

    <div ng-if="vm.data" class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <table class="table table-bordered table-striped">
          <tbody>
            <tr>
              <th ng-repeat="(key, value) in vm.data[0]">
                {{key}}
              </th>
            </tr>
            <tr ng-repeat="item in vm.data">
              <td ng-repeat="(key, value) in item">
                {{value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      
      <si-column-manager 
        si-id="sampleSize" 
        si-change="vm.onChange($data, $file)" 
        si-sample-size="5">
      </si-column-manager>
      
      <si-column-manager 
        si-id="free" 
        si-change="vm.onChange($data, $file)">
      </si-column-manager>
      
      <si-column-manager 
        si-id="headers"
        si-change="vm.onChange($data, $file)"
        si-columns="vm.columns">
      </si-column-manager>
      
      <si-column-manager si-id="excludeUnknown"
        si-change="vm.onChange($data, $file)"
        si-columns="vm.columns"
        si-exclude-unknown-columns="true">
      </si-column-manager>
      
    <script data-main="js/config.js" src="js/lib/require.js"></script>

  </body>
</html>